<h1>Add course</h1>

<form action="/add-course" method='post'>
    <div class="input-field col s6">
          <input placeholder="Placeholder" name='title' id="title" type="text" class="validate" required>
          <label for="title">Название курса</label>
           <span class="helper-text" data-error="Введите название курса" data-success="right">Helper text</span>
    </div>

    <div class="input-field col s6">
          <input placeholder="Placeholder" name='price' id="price" type="text" class="validate" required min='1'>
          <label for="price">Цена курса</label>
           <span class="helper-text" data-error="Введите цену" data-success="right">Helper text</span>
    </div>

    <div class="input-field col s6">
          <input placeholder="Placeholder" name='img' id="img" type="text" class="validate" required>
          <label for="img">URL картинки</label>
           <span class="helper-text" data-error="прикрепите картинку" data-success="right">Helper text</span>
    </div>

    <button class='btn btn-primary'>Добавить курс</button>


</form>